@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.about_me {
  padding: 100px;

  .infos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 50px;

    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
      border: 4px solid $third-color;

      @media screen and (max-width: 1024px) {
        width: 225px;
        height: 225px;
      }
    }
  }

  .infos_txt {
    .name {
      font-size: 2.3em;
      font-weight: 500;
      font-style: oblique;
      word-spacing: 10px;
      margin-bottom: 50px;
    }

    .city {
      font-size: 2em;
      font-weight: 500;
      font-style: oblique;
      text-align: center;
    }
  }

  .about_txt {
    line-height: 30px;
    margin-bottom: 20px;
  }

  .last_para {
    margin-bottom: 40px;
  }

  a {
    display: inline-block;
    background-color: $third-color;
    color: $secondary_color;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 15px;
    @include shadow_Link;
  }

  a:hover {
    transform: scale(0.9);
  }
}
