@import '../utils/variables.scss';

.stack {
  padding: 100px;
  background-color: $third_color;

  h2 {
    text-decoration: none;
    font-size: 1.4em;
    margin-top: 1%;
    margin-bottom: 0;
  }

  .all_languages {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 5em;

    @media screen and (max-width: 768px) {
      align-content: space-around;
      gap: 2em;
    }

    .languages {
      width: 200px;
      height: 200px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (max-width: 1024px) {
        width: 140px;
        height: 140px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 10px;
        width: 110px;
        height: 110px;
      }

      img {
        width: 100%;
        object-fit: cover;
      }

      p {
        font-size: 1.5em;
        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 50px;
  }
}
