@import '../utils/variables.scss';

.formation {
  padding: 100px;
  background-color: $third_color;

  p {
    margin-bottom: 40px;
  }

  .all_languages {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;

    .languages {
      width: 200px;
      height: 200px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100%;
        object-fit: cover;
      }

      p {
        font-size: 1.5em;
        font-weight: 500;
      }
    }
  }
}
