@import '../utils/variables.scss';

.formation {
  padding: 100px;
  background-color: $third_color;

  p {
    margin-bottom: 40px;
  }

  .all_languages {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    .languages {
      width: 200px;
      height: 200px;
      padding: 20px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
