@import '../utils/mixins';
@import '../utils/variables.scss';

// Styles Généraux du portfolio
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include font_Text;
  background: url('../../assets/images/fond.jpg');
  background-repeat: repeat-y;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font_Title;
}

h2 {
  font-size: 1.625em;
  font-weight: 700;
  margin-bottom: 40px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

p,
a {
  font-size: 1.2em;
  font-weight: 500;
}

main {
  width: 1440px;
  background-color: $primary_color;
  margin: 60px auto;
  border-radius: 25px;
}
