@import '../utils/mixins';
@import '../utils/variables.scss';

// Styles Généraux du portfolio
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include font_Text;
  background: url('../../../assets/images/fond.jpg');
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font_Title;
}

main {
  width: 1440px;
  background-color: $primary_color;
  margin: auto;
  border-radius: 25px;
}
